html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

p, li {
  line-height: 1.5;
  margin: 0 0 0.5rem;
  padding: 0;
}

a {
  color: black;
}

.constrained {
  max-width: px(1200); 
  width: 100%; 
  margin: 0 auto;
}

.title {
  font-style: italic;
}
