html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

p, li {
  line-height: 1.5;
  margin: 0 0 0.5rem;
  padding: 0;
}

a {
  color: black;
}

cite {
  font-style: italic;
}

.container {
  max-width: px(1200); 
  width: calc(100% - ($outer-margin * 2));
  margin: 0 auto;
}
