footer {
  // @include clearfix;

  flex-grow: 0;
  background: $colour-black;
  color: $colour-white;
  padding: 0.5rem 0;
}

.footer__inner {
  // @include column(12);
}

.footer__copywrite {
  font-size: 0.75rem;
  text-align: right;
  margin-bottom: 0;
}
