@function px($px) {
  @return calc($px / $base-font-size) * 1em
}

$mq-xs: px(360) !default;
$mq-s: px(440) !default;
$mq-sm: px(520) !default;
$mq-m: px(740) !default;
$mq-lm: px(830) !default;
$mq-l: px(960) !default;
$mq-xl: px(1200) !default;
