@mixin respond-to($min-width, $max-width: false) {
  @media screen and (min-width: $min-width) {
    @if $max-width {
      @media (max-width: $max-width) {
        @content
      }
    } @else {
      @content;
    }
  }
}

@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}

@mixin medium {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 1;
}

@mixin title {
  font-size: 1.25rem;
  font-style: italic;
  line-height: 1.125;
}

@mixin extra {
  font-size: 0.875rem;
}

@mixin image-fit {
  img {
    display: block;
    width: 100%;

    @supports (object-fit: cover) {
      object-fit: cover;
    }
  }
}
