.reviews-list {
  margin: 1rem 0 0;
}

.reviews-listing {
  @include clearfix;

  $image-width: 80px;

  .listing__image, .listing__content {
    float: left;
  }

  .listing__image {
    width: $image-width;

    img {
      display: block;
      width: 100%;
    }
  }

  .listing__content {
    width: calc(100% - $default-gutter - $image-width);
    margin: 0 0 0 $default-gutter;

    p {
      margin-bottom: 0;
      line-height: 1.125;
    }

    .listing__medium {
      @include medium;
    }

    .listing__title {
      @include title;
    }

    .listing__extra {
      @include extra;
    }
  }
}
