.review {
  .review__back-link,
  .review__content {
    // @include column(12);
  }

  .review__back-link {
    margin-bottom: 1rem;
  }

  .review__medium {
    @include medium;
  }

  .review__title {
    @include title;
  }

  .review__extra,
  .review__extra-2 {
    @include extra;
  }

  .review__image {
    width: calc(100% + ($gutter * 2));
    margin-left: calc(0% - $gutter);
    margin-right: calc(0% - $gutter);

    img {
      display: block;
      width: 100%;
    }
  }

  .review__heading {
    @include clearfix;

    margin: 0.5rem 0;
  }

  .review__details {
    margin: 0.5rem 0 0;

    & > * {
      margin: 0 0 0.25rem;
      padding: 0 0 0.25rem;
      border-bottom: solid 1px $colour-grey;
    }
  }

  .review__text {
    clear: left;
  }

  .review__image {
    @include image-fit;

    aspect-ratio: 1.45;
  }

  @include respond-to($mq-s) {
    .review__heading {
      // margin-left: calc(0% - $default-gutter);
      // margin-right: calc(0% - $default-gutter);
      display: -ms-grid;
      -ms-grid-columns: 1fr 1fr;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: $gutter;
    }

    .review__image,
    .review__details {
      // @include column(6);
      width: 100%; // calc(100% + ($gutter * 2));
      margin-left: 0; // calc(0% - $gutter);
      margin-right: 0; // calc(0% - $gutter);
    }

    .review__image {
      -ms-grid-column: 1;
      // padding-right: calc($gutter / 2);
    }

    .review__details {
      margin-top: 0;
      -ms-grid-column: 2;
      // padding-left: calc($gutter / 2);
    }
  }

  @include respond-to($mq-m) {
    .review__heading {
      -ms-grid-columns: 5fr 7fr;
      grid-template-columns: 5fr 7fr;
    }

    .review__image {
      // @include column(5);
    }

    .review__details {
      // @include column(7);
    }
  }

  @include respond-to($mq-l) {
    .review__heading {
      -ms-grid-columns: 4fr 8fr;
      grid-template-columns: 4fr 8fr;
    }

    // .review__image {
    //   @include column(4);
    // }

    // .review__details {
    //   @include column(8);
    // }
  }
}
