.reviews-list {
  $image-size: 80px;

  margin: 1rem 0 0;

  .reviews-listing {
    @include clearfix;

    .listing__image, .listing__content {
      float: left;
    }

    .listing__image {
      width: $image-size;
      height: $image-size;
      overflow: hidden;

      img {
        width: 100%;

        @supports (object-fit: cover) {
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .listing__content {
      width: calc(100% - $default-gutter - $image-size);
      margin: 0 0 0 $default-gutter;

      p {
        margin-bottom: 0;
        line-height: 1.125;
      }

      .listing__medium {
        @include medium;
      }

      .listing__title {
        @include title;
      }

      .listing__extra {
        @include extra;
      }
    }
  }
}
