// Grid
// these need to be replaced
// $default-gutter: 1.66667%;
// $column-width: 60px !default;
// $gutter-width: 40px !default;
// $columns: 12 !default;
// $total-width: 100%;

$gutter-value: 2;
$outer-margin: #{$gutter-value} + '%';
$gutter: #{(100 / (100 - ($gutter-value * 2))) * $gutter-value} + '%';

// Typography
$base-font-size: 16 !default;

// Colours
$colour-black: #000;
$colour-white: #fff;
$colour-grey: #999;
