html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

p, li {
  line-height: 1.5;
  margin: 0 0 0.5rem;
  padding: 0;
}

a {
  color: black;
}

.container {
  max-width: 75em;
  width: calc(100% - 2% * 2);
  margin: 0 auto;
}

.title {
  font-style: italic;
}

header {
  flex-grow: 0;
  flex-shrink: 0;
  background: #000;
  color: #fff;
  padding: 0.5rem 0;
}
header:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.header__title {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0 0 0.25rem;
}

.header__subtitle {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.125;
}

footer {
  flex-grow: 0;
  flex-shrink: 0;
  background: #000;
  color: #fff;
  padding: 0.5rem 0;
}
footer:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.footer__copywrite {
  font-size: 0.75rem;
  text-align: right;
  margin-bottom: 0;
}

main {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 1rem 0;
}
main:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.reviews-list {
  margin: 1rem 0 0;
}
.reviews-list .reviews-listing:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.reviews-list .reviews-listing .listing__item {
  display: -ms-grid;
  -ms-grid-columns: 80px auto;
  display: grid;
  grid-template-columns: 80px auto;
  column-gap: 2.0833333333%;
  text-decoration: none;
}
.reviews-list .reviews-listing .listing__image {
  -ms-grid-column: 1;
  width: 80px;
  height: 80px;
  overflow: hidden;
}
.reviews-list .reviews-listing .listing__image img {
  width: 100%;
}
@supports (object-fit: cover) {
  .reviews-list .reviews-listing .listing__image img {
    height: 100%;
    object-fit: cover;
  }
}
.reviews-list .reviews-listing .listing__content {
  -ms-grid-column: 2;
}
.reviews-list .reviews-listing .listing__content p {
  margin-bottom: 0;
  line-height: 1.125;
}
.reviews-list .reviews-listing .listing__content .listing__medium {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 1;
}
.reviews-list .reviews-listing .listing__content .listing__title {
  font-size: 1.25rem;
  font-style: italic;
  line-height: 1.125;
}
.reviews-list .reviews-listing .listing__content .listing__extra {
  font-size: 0.875rem;
}

.review .review__back-link {
  margin-bottom: 1rem;
}
.review .review__medium {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 1;
}
.review .review__title {
  font-size: 1.25rem;
  font-style: italic;
  line-height: 1.125;
}
.review .review__extra,
.review .review__extra-2 {
  font-size: 0.875rem;
}
.review .review__image {
  width: calc(100% + 2.0833333333% * 2);
  margin-left: calc(0% - 2.0833333333%);
  margin-right: calc(0% - 2.0833333333%);
}
.review .review__image img {
  display: block;
  width: 100%;
}
.review .review__heading {
  margin: 0.5rem 0;
}
.review .review__heading:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.review .review__details {
  margin: 0.5rem 0 0;
}
.review .review__details > * {
  margin: 0 0 0.25rem;
  padding: 0 0 0.25rem;
  border-bottom: solid 1px #999;
}
.review .review__text {
  clear: left;
}
.review .review__image {
  aspect-ratio: 1.45;
}
.review .review__image img {
  width: 100%;
}
@supports (object-fit: cover) {
  .review .review__image img {
    height: 100%;
    object-fit: cover;
  }
}
@media screen and (min-width: 30em) {
  .review .review__heading {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.0833333333%;
  }
  .review .review__image,
.review .review__details {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .review .review__image {
    -ms-grid-column: 1;
  }
  .review .review__details {
    margin-top: 0;
    -ms-grid-column: 2;
  }
}
@media screen and (min-width: 45em) {
  .review .review__heading {
    -ms-grid-columns: 5fr 7fr;
    grid-template-columns: 5fr 7fr;
  }
}
@media screen and (min-width: 60em) {
  .review .review__heading {
    -ms-grid-columns: 4fr 8fr;
    grid-template-columns: 4fr 8fr;
  }
}

/*# sourceMappingURL=app.css.map */
